www.increm.net {
    redir https://increm.net{uri}
}

increm.net {
    encode gzip zstd

    reverse_proxy /badge app:34567
    reverse_proxy /admin* app:34567

    root * /data/home
    file_server
}

admin.increm.net {
    encode gzip zstd

    root * /data/admin
    file_server
}
