@import url(https://fonts.bunny.net/css?family=ibm-plex-mono:400);

* {
    font-family: 'IBM Plex Mono', monospace;
}

body {
    color: white;
    background-color: black;
    width: 300px;
}

::selection {
    background-color: white;
    color: black;
}

h1 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

label {
    font-size: 14px;
}

[data-custom-title] {
    text-decoration: underline dotted;
}

[data-custom-title]:hover {
    position: relative;
}

[data-custom-title]:hover::after {
    content: attr(data-custom-title);
    position: absolute;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 5px 10px;
    width: 200px;
    font-size: 0.9em;
    bottom: 20px;
    z-index: 10;
}

.inputbox-container {
    align-items: center;
    margin-bottom: 16px;
}

.inputbox-container input {
    color: white;
    border: 2px solid white;
    background-color: black;
}

textarea {
    resize: none;
    width: 300px;
    height: 120px;
    font-size: 12px;
    color: white;
    border: 2px solid white;
    background-color: black;
}

.btn-common {
    position: absolute;
    display: inline-block;
    padding: 3px 6px;
    color: white;
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
    user-select: none;
}

.copy-btn {
    bottom: 5px;
    right: -7px;
}

@-moz-document url-prefix() {
    .copy-btn {
        bottom: 2px;
        right: -8px;
    }
}

.container {
    position: relative;
    margin-bottom: 16px;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-left: 8px;
}

a {
    color: white;
}
