@import url(https://fonts.bunny.net/css?family=ibm-plex-mono:400);

* {
    font-family: 'IBM Plex Mono', monospace;
}

body {
    color: white;
    background-color: black;
    width: 300px;
}

::selection {
    background-color: white;
    color: black;
}

h1 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

label {
    font-size: 14px;
}

.inputbox-container {
    align-items: center;
    margin-bottom: 16px;
}

.inputbox-container input {
    color: white;
    border: 2px solid white;
    background-color: black;
}

textarea {
    resize: none;
    width: 300px;
    height: 120px;
    font-size: 12px;
    color: white;
    border: 2px solid white;
    background-color: black;
}

.btn-common {
    position: absolute;
    display: inline-block;
    padding: 3px 6px;
    color: white;
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
    user-select: none;
}

.btn-copy {
    bottom: 4px;
    right: -8px;
}

@-moz-document url-prefix() {
    .btn-copy {
        bottom: 1px;
        right: -8px;
    }
}

.container {
    position: relative;
    margin-bottom: 16px;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-left: 8px;
}

a {
    color: white;
    text-decoration: underline dotted;
}

a:hover {
    text-decoration: underline solid;
}
