<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <title>incremnet badge</title>
    <style>
        * {
            user-select: none;
        }

        html {
            margin: 0;
            overflow: hidden;
            color-scheme: light dark;
        }

        body {
            margin: 0;
        }

        img {
            image-rendering: pixelated;
        }

        span {
            position: absolute;
            font-size: 14px;
            font-family: 'MS Sans Serif', Arial, sans-serif;
            color: black;
            top: 4px;
            left: 6px;
        }

        area {
            cursor: pointer;
        }
    </style>

    <script>
        async function incremnetBadge() {
            try {
                const r = await fetch('/badge?key={{key}}', { method: 'POST' });
                if (r.ok) {
                    const d = await r.json();
                    const e = document.getElementById('value');
                    e.textContent = d.value;
                    e.style.color = 'grey';
                    setTimeout(() => {
                        e.style.color = '';
                    }, 100);
                } else {
                    console.error('failed to incremnet badge');
                }
            } catch (error) {
                console.error(error);
            }
        }
    </script>
</head>

<body>
    <img src="data:image/png;base64,{{image}}" usemap="#image-map">
    <span id="value">{{value}}</span>
    <map name="image-map">
        <area alt="incremnet this page" title="incremnet this page" coords="69,4,84,19" shape="rect"
            onclick="incremnetBadge()">
        <area target="_blank" alt="incremnet" title="incremnet" href="https://increm.net" coords="20,21,67,30"
            shape="rect">
    </map>
</body>

</html>
