[package]
name = "tools"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4.5.31", features = ["derive"] }
redb = { workspace = true }
redb_wrapper = { workspace = true }
serde_json = { workspace = true }
